.card {
  border: none;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  background-image: url("images/background1.jpg");
  height: 100%;
  box-shadow: inherit;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(211, 211, 211);
  background-blend-mode: multiply;
}

h1,
h2,
h3,
h5 {
  color: white;
  text-align: center;
  font-weight: normal;
}
h2 {
  text-align: left;
}
.current-date {
  font-size: 20px;
  text-align: center;
}
h1 {
  font-size: 70px;
  margin-top: 30px;

  text-transform: capitalize;
}
#feeling {
  text-transform: capitalize;
}

.cloud {
  display: block;
  text-align: center;
  font-size: 300px;
}
.search-box {
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
}
.search-button,
#current-location {
  border-radius: 5px;
  background-color: #1e3e50;
  color: white;
  border: none;
}

p {
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
}
.link {
  text-decoration: none;
  margin: 0 auto;
  display: block;
  color: black;
}

#today {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  width: 170px;
  padding: 10px;
  color: white;
  font-size: 20px;
}
.forecast {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  margin: 3px;
  padding: 10px;
}
hr {
  color: white;
}
